<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NoteyOffice.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <NoteyOffice.My.MySettings>
            <setting name="DarkTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showEdit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showView" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showTools" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showStatus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showFormatting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="defaultFont" serializeAs="String">
                <value>Microsoft Sans Serif</value>
            </setting>
            <setting name="defaultFontSize" serializeAs="String">
                <value>8</value>
            </setting>
        </NoteyOffice.My.MySettings>
    </userSettings>
</configuration>